<?php $this->layout('page'); ?>

<div class="layui-card page-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">栏目类型</label>
                <div class="layui-input-block">
                    <?= $this->build_radios('type', $type, 1, ['lay-filter' => 'type'], true); ?>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">父级栏目</label>
                <div class="layui-input-block">
                    <input type="text" name="pid" id="pid" value="<?=$idx?>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">栏目名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" lay-verify="required" lay-verType="tips" lay-reqText="请输入栏目名称"
                        autocomplete="off" placeholder="请输入栏目名称" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">栏目图标</label>
                <div class="layui-input-group">
                    <input type="text" name="img" placeholder="栏目图标" id="img" class="layui-input">
                    <div class="layui-input-suffix">
                        <button type="button" class="layui-btn layui-btn-primary" id="upload">选择图片</button>
                        <button type="button" class="layui-btn layui-btn-primary" id="preview">预览</button>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">链接地址</label>
                <div class="layui-input-inline">
                </div>
                <div class="layui-input-group">
                    <input type="text" name="url" placeholder="请输入链接地址" id="url" class="layui-input">
                    <div class="layui-input-suffix">
                        <button type="button" class="layui-btn layui-btn-primary" id="link">查看</button>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">权重</label>
                <div class="layui-input-inline">
                    <input type="number" class="layui-input" name="sort" lay-affix="number" lay-precision="0" value="0"
                        lay-verify="required|number" lay-verType="tips" max="100" min="0" placeholder="请输入排序权重" />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">导航显示</label>
                <div class="layui-input-block">
                    <?= $this->build_switch('menu', true); ?>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="remark" maxLength="250" placeholder="栏目备注信息"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <?= $this->build_radios('status', $status, key($status), [], true); ?>
                </div>
            </div>

            <div class="layui-form-item layer-footer hidden">
                <div class="layui-input-block text-left">
                    <button class="layui-btn layui-btn-sm layui-btn-success" lay-submit
                        lay-filter="submit">确认提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<?php $this->block('js'); ?>
<script>
    layui.use(['mForm', 'cascader', 'imgSelect'], function () {
        const mForm = layui.mForm
        const cascader = layui.cascader
        const imgSelect = layui.imgSelect

        // 渲染表单
        const cateList = JSON.parse('<?=$cate?>')
        const parentMenu = cascader({
            elem: '#pid',
            clearable: true,
            value: parseInt("<?=$idx?>", 10),
            options: cateList,
            props: {
                checkStrictly: true,
                value: 'id',
                label: 'title',
                children: 'children',
                disabled: 'disabled',
            }
        });
        mForm.render()
        mForm.submit('submit', null, null, (form) => {
            const menu = form.field.menu ? 1 : 0;
            return { menu: menu }
        })

        // 图片上传
        document.querySelector('#upload').addEventListener('click', () => {
            imgSelect.show({
                api: "<?=$this->url('/files')?>",
                uploadURL: "<?=$this->url('/upload')?>",
                callback: (data, index) => {
                    document.querySelector('#img').value = data[0].url
                }
            })
        })
        // 预览
        document.querySelector('#preview').addEventListener('click', () => {
            let url = document.querySelector('#img').value
            if (url) {
                top.layer.photos({
                    photos: {
                        title: "图片预览",
                        data: [{ alt: '', src: url }]
                    },
                    // 是否显示底部栏
                    footer: true,
                    shade: 0.75
                });
            }
        })
        document.querySelector('#link').addEventListener('click', () => {
            let url = document.querySelector('#url').value
            if (url) {
                window.open(url, '_blank')
            }
        })
    })
</script>
<?php $this->blockEnd(); ?>